[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
ocoen-filesecrets = {editable = true,git = "https://github.com/orthanc/ocoen_filesecrets.git",ref = "master"}
ocoen-aws-token-manager = {path = ".",editable = true}
pykeepass = "*"

[requires]
python_version = "3.6"
